<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="icon" href="favicon.ico" />
        <title>Backend Server</title>
    </head>
    <body>
        <div class="title">Backend Server</div>
        <div class="subtitle">CoffeeDoor online shop</div>
        <div class="subtitle">Express JS Node JS</div>
        <img src="expressjs-logo.png" alt="express logo" height="100px" />
        <img src="nodejs-logo.png" alt="nodejs logo" height="100px" />
        <div class="text">also using</div>
        <div class="text">Mongoose, Multer, Yup, JWT, Bcrypt</div>
        <div class="link">
            <a href="https://github.com/DKotykhin/Coffeedoor-backend-express">
                more information on Github
            </a>
        </div>
    </body>
</html>
